*{
margin:0;padding:0;
}
body{
	background:black;
}
.fullpage{
	margin-top:10px;margin-left:10px;
	text-align:center;
	display:block;
}
.forum{
	align-content:center;	width:360px;min-height:600px;
	background:url(body.jpg);	background-size:cover;
	margin-left:05px;margin-top:40px;
	padding:10px; border:1px solid #ddd;
	border-radius:25px;
	box-shadow: 0 0 5px #111,
		   		0 0 10px #f11,
		   		0 0 20px #ff1,
		   		0 0 50px #fff;
	animation-delay:0.2s;
}
.forum:hover{
	transform:scale(1.02);
}
.forum h2 {
	color:#00ffff;
	padding:10px;	display:inline;
}
.selectbdate{
	padding-bottom:20px; margin-top:10px;
}
.singlebdate{
	width:100px; float:left;
	margin-left:20px; height:5px;
}
.singlebdate:first-child{
	margin-left:15px;
}
.singlebdate:last-child{
	margin-right:-45px;
}
.forum input {
	width:200px;height:30px;
	border:1px solid #000; border-radius:10px;
	margin-top:10px;
	opacity:0.6;
	box-shadow:0 0 10px #fde,
			   0 0 20px #fde,
			   0 0 30px #dde,
			   0 0 40px #fde;
}
.forum input:hover{
	transform:scale(1.06);
	opacity:1;
}
.forum input:first-child{
	width:170px;	height:30px;
}
.forum input:nth-child(2){
	width:170px;	height:30px;
}
.header{
	background : blue;text-align : center;
	padding:10px;color:white;display:block;
	margin-left:0;font-family:sans-serif;
}
.alltitle{
	text-align:right;	color : green;
}
.textarea{
	border:1px solid #000;	border-radius:10px;
}
.gender input{
	width:15px;	height:15px;
	margin-top:20px; overflow:hidden;
}
.gender b {
	color:white;
}
.createbtn {
	background : lightgreen;	color : red;
	margin-top:20px;
	width:270px;	
	text-decoration:none;	height:50px;
	border:3px solid lightgreen;
	border-radius:25px;
	box-shadow: 0 0 10px lightyellow,
				0 0 20px lightyellow,
				0 0 30px lightyellow,
				0 0 40px lightyellow;
}
.createbtn a {
	text-decoration:none;
	font-size:25px;
}
.section{
	background:white; width:100px;
	border:1px solid yellow;border-radius:10px;
	text-align:center;color:red;
	overflow:hidden;height:25px;
}
.alreadyacnt{
	color:blue;font-size:20px;
	padding:10px;margin-left:55px;
	overflow:hidden;
}
.login{
	margin-left:130px;padding:7px;
	background:white;display:inline;
	border:1px solid white;
	border-radius:30px;max-height:10px;
}
.login a {
	text-decoration:none;
}
.acntandlog{
	color:pink;border:1px solid white;
	overflow:hidden;margin-top:25px;
	min-height:100px;width:345px;
	margin-left:18px;background:linear-gradient(#ddd,#252724);
	border-radius:40px;padding:20px;
}
#check{width:15px;height:15px;
margin-top:10px;}
.see{color:white;}